.row {
  flex-direction: row;
}

.button {
  margin: 0.2rem;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  background-color: white;
  padding: 0.2em 0.7rem 0.7rem;
  border: 3px solid #3694EB;
  color: #3694EB;
  transition: color 0.15s ease, border-color 0.15s ease;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  border-radius: 5px;
  min-width: 150px;
  height: 37px;
}

.button.circle {
  border-color: #85C4FF;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  min-width: 40px;
  height: 40px;
}

.button p {
  margin: 0;
  padding-bottom: 0.5rem;
}

.button.selected {
  border-color: #FF8888;
}

.button.done {
  color: white;
  border-color: #3694EB;
  background-color: #3694EB;
}

.button.disabled,
.button.disabled:hover,
.button.disabled:hover {
  background-color: whitesmoke;
  color: gray;
  border-color: gray;
  cursor: not-allowed;
}

.button.done.disabled,
.button.done.disabled:hover,
.button.done.disabled:hover {
  background-color: gray;
  color: whitesmoke;
  border-color: gray;
}

.button.done.selected {
  border-color: #EF5C5C;
  background-color: #EF5C5C;
}


.button:hover,
.button:active {
  /*color: #EF5C5C;*/
  border-color: #EF5C5C;
}